amqp==2.2.2
billiard==3.5.0.3
boto==2.45.0
bz2file==0.98
celery==4.1.0
cycler==0.10.0
defusedxml==0.5.0
-e git+https://github.com/django/django.git@d60e8b856b49922deb85a168e48e56f16facd5df#egg=Django
feedparser==5.2.1
h5py==2.6.0
kombu==4.1.0
matplotlib==2.0.0
numpy==1.11.3
oauthlib==2.0.6
PyJWT==1.5.3
pyparsing==2.1.10
python-dateutil==2.6.0
python-social-auth==0.3.6
python3-openid==3.1.0
pytz==2016.10
PyYAML==3.12
redis==2.10.6
requests==2.12.4
requests-oauthlib==0.8.0
scikit-learn==0.19.1
scipy==0.18.1
six==1.10.0
smart-open==1.3.5
social-auth-core==1.6.0
vine==1.1.4
